<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <a href="/"><img src="assets/img/logo.png"></a>
            <h1 class="text-light"><a href="/">Clinica</a></h1>            
        </div>       
        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="/" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
                <li><a href="/especialistas" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Especialistas</span></a></li>
                <li><a href="/especialidades" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Areas medicas</span></a></li>
                <li><a href="/reservas" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Reservas</span></a></li>
            </ul>
        </nav>
    </div>
    
</header>
